* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  touch-action: manipulation;
}

html, body {
  display: flex;
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
}

.sg-flex, .sg-flex-col {
  display:flex;
}

.sg-flex-col {
  flex-direction: column;
}

.sg-flex-fill {
  flex: 1 1;
}

.sg-flex-center {
  align-items: center;;
}

.sg-flex-middle {
  justify-content: center;
}

.sg-boxes {
  width: 100%;
  height: 14rem;
  position: relative;
  max-width: 80rem;
}

.box {
  height: 100%;
  position: absolute;
  border-radius: .5rem;
}

.hidden {
  visibility: hidden;
}

.box.selected {
  background: rgb(255, 194, 38);
  width: 4rem;
}

.box.active {
  background: rgb(105, 192, 218);
  width: 3.2rem;
}

label {
  font-size: 4rem;
  font-weight: 600;
}

.sg-points {
  margin-bottom: 6rem;
}

.sg-end {
  margin-top: 6rem;
}

@media screen 
  and (max-width: 1000px){
  html {
    font-size: .4rem;
  }

  label {
    font-size: 3rem;
  }

  .box.selected {
    width: 5rem;
  }
  
  .box.active {
    width: 4.2rem;
  }

  .sg-points {
    margin-bottom: 4rem;
  }
  
  .sg-end {
    margin-top: 4rem;
  }
}

@media screen and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    min-width: -webkit-fill-available;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}