* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  touch-action: manipulation !important;
}

html {
  position: fixed;
}

html, body {
  display: flex;
  height: 100%;
  width: 100%;
}

.sg-flex, .sg-flex-col {
  display: flex;
}

.sg-flex-col {
  flex-direction: column;
}

.sg-flex-fill {
  flex: 1 1;
}

.sg-flex-fit {
  flex: 1 0 auto;
}

.sg-flex-center {
  align-items: center;;
}

.sg-flex-middle {
  justify-content: center;
}

.sg-flex-scroll {
  overflow: auto;
}

/******************* INDEX *******************/

.sg-index {
  flex-wrap: wrap;
  justify-content: space-around;
}

.sg-item {
  flex-basis: 45%;
  width: 90%;
  text-decoration: none;
  padding: 1rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.282);
  margin-bottom: 3rem;
  transition: transform .3s ease;
}

.sg-item:hover {
  transform: scale(1.05);
}

.sg-item:visited {
  color: black;
}

.sg-item .sg-base {
  height: 14rem;
  width: 14rem;
  --dim: 4em;
}

.sg-footer {
  padding: 0 5% 2%;
  justify-content: space-between;
}

.sg-img-wrapper {
  display: flex;
  height: 5rem;
  width: 5rem;
}

.sg-back-btn {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 99;
  font-size: 4rem;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.sg-back-btn img {
  width: 5rem;
}

/******************* END INDEX *******************/


/******************* BOX *******************/

.sg-boxes {
  width: 100%;
  height: 14rem;
  position: relative;
}

.box {
  height: 100%;
  position: absolute;
  border-radius: .5rem;
}

.hidden {
  visibility: hidden;
}

.box.selected {
  background: rgb(255, 194, 38);
  width: 3.9rem;
}

.box.active {
  background: rgb(105, 192, 218);
  width: 3.1rem;
}

label {
  font-size: 4rem;
  font-weight: 600;
}

.sg-points {
  margin-bottom: 6rem;
}

.sg-end {
  margin-top: 6rem;
}

/******************* END BOX *******************/




/******************* CIRCLE *******************/

.sg-base {
  font-size: 1vh;
  --dim: 6em;

  height: 60vmin;
  width: 60vmin;
  border-radius: 100%;
}

.sg-circle .sg-points {
  margin-bottom: 3vh;
}

.sg-points-holder .sg-points:first-child {
  margin-right: 1rem;
  color: red;
  font-size: 2rem;
}

.sg-circle .sg-end {
  margin-top: 3vh;
}

.sg-base {
  position: relative;
  border: .5em solid black;
}

.stick {
  position: absolute;
  /* background: black; */
  height: var(--dim);
  width: 100%;
  align-self: center;
  justify-content: flex-end;
}

.circle {
  width: var(--dim);
  height: var(--dim);
  border-radius: 100%;
}

.circle.selected {
  background: rgb(255, 194, 38);
}

.circle.active {
  background: rgb(105, 192, 218);
}

.circle.trapped-red {
  background: rgb(226, 0, 0);
}

.circle.trapped-green {
  background: rgb(30, 226, 0);
}

/******************* END CIRCLE *******************/



@media screen 
  and (max-width: 750px){
  html {
    font-size: .4rem;
  }

  .label {
    font-size: 3rem;
  }


  /******************* INDEX *******************/

  .sg-index {
    flex-direction: column;
    justify-content: center;
  }

  .sg-item {
    flex-basis: initial;
    width: 90%;
  }

  .sg-item:hover {
    translate: initial;
  }
  
  
  /******************* END INDEX *******************/


  /******************* BOX *******************/


  .box.selected {
    width: 5.2rem;
  }
  
  .box.active {
    width: 4.1rem;
  }

  .sg-points {
    margin-bottom: 4rem;
  }
  
  .sg-end {
    margin-top: 4rem;
  }

  /******************* END BOX *******************/


  /******************* CIRCLE *******************/

  .sg-base {
    font-size: 1vh;
    --dim: 6em;
  
    height: 90vmin;
    width: 90vmin;
    border-radius: 100%;
  }

  .sg-circle label {
    font-size: 6rem;
  }

  .sg-points-holder .sg-points:first-child {
    font-size: 4rem;
  }

  /******************* END CIRCLE *******************/
  
}